* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}

/* header {
    height: 15vh;
    width: 100%;
    background-color: midnightblue;
} */

main {
    height: 100vh;
    width: 100%;
    background-color: midnightblue;
}

/* footer {
    height: 15vh;
    width: 100%;
    background-color: midnightblue;
} */

.ms-container{
    width: 75%;
    margin: 0 auto;
}

.grid-container {
    width: 550px;
    height: 550px;
    cursor: pointer;
}

div.box{
    float: left;
    border-radius: 10px;
    margin: 5px;
    width: calc(100% / 10 - 10px);
    height: calc(100% / 10 - 10px);
}

div.box-st{
    width: calc(100% / 9 - 10px);
    height: calc(100% / 9 - 10px);
}

div.box-h{
    width: calc(100% / 7 - 10px);
    height: calc(100% / 7 - 10px);
}

div.box{
    border: 2px solid white;
}

.box-click{
    background-color: green;
    color: white;
}

.box-click-bomb{
    background-color: red;
    color: white;
}

main select{
    background-color: midnightblue;
    color: white;
}



